// mygovscot logo
#header .mygovscot-logo {
  background-image: url(../images/mygov_logos/mygovscot_beta_mob_hi_220.png);
  background-size: 110px;
}

// footer icons
footer .footer-links li {
  a {
    background-size: 14px;

    &.email {
      background-image: url(../images/footer_icons/envelope_desktop_standard_28.png);
    }

    &.blog {
      background-image: url(../images/footer_icons/speech_desktop_standard_28.png);
    }

    &.twitter {
      background-image: url(../images/footer_icons/twit_desktop_standard_28.png);
    }

    &.github {
      background-image: url(../images/footer_icons/code_desktop_standard_28.png);
    }
  }
}

// footer scotgov logo
footer .scotgov-logo {
  background-image: url(../images/scotgov_logos/sg_logo_mobile_hi_128.png);
  background-size: 64px;
}

// guidelines image
.home .summary-block.guidelines .inner,
.guidelines .summary-block .inner {
  background-image: url(../images/guidelines_icon_medium.png);
}

// standard image
.home .summary-block.standard .inner,
.standard .summary-block .inner {
  background-image: url(../images/standard_icon_medium.png);
}

.guidelines .summary-block .inner,
.standard .summary-block .inner {
  background-size: 203px;
}
