<footer>
    <div class="container">
            <div class="footer-logo">
                <span class="scotgov-logo">Scottish Government</span>
            </div>

            <div class="footer-content">
                <h3>Scottish Government</h3>

                <p>{{ site.dts_description }}</p>

                <ul class="footer-links">
                    <li><a class="twitter" href="{{ site.dts_twitter_url }}">{{ site.dts_twitter_username}}</a></li>
                    <li><a class="blog" href="{{ site.dts_blog_url }}">{{ site.dts_blog_title }}</a></li>
                    <li><a class="github" href="https://github.com/scottishgovernment/">Scottish Government GitHub</a></li>
                </ul>
            </div>


        </div>
    </div>
    <!-- /end .container -->
</footer>
