<footer>
    <div class="container">
        <div class="footer-content">
            <h3>Scottish Government</h3>

            <p>These resources have been made available to help deliver clear content and to guide you in building transactional services that will appear on <a href="http://beta.mygov.scot">mygov.scot</a>.</p>

            <ul class="footer-links">
                <li><a class="twitter" href="https://www.twitter.com/mygovscot">@mygovscot</a></li>
                <li><a class="blog" href="http://inside.mygov.scot">inside.mygov.scot</a></li>
                <li><a class="github" href="#">Scottish Government GitHub</a></li>
                <li><a class="email" href="mailto:ossd@scotland.gsi.gov.uk">feedback.mygov@scotland.gsi.gov.uk</a></li>
            </ul>
        </div>

        <div class="footer-logos">
            <span class="scotgov-logo">Scottish Government</span>
        </div>
    </div>
    <!-- /end .container -->
</footer>
