<footer>
    <div class="container">
            <div class="footer-logo">
                <span class="scotgov-logo">Scottish Government</span>
            </div>
            <div class="footer-content">
                <h3>Scottish Government</h3>
                <p>{{ site.description }}</p>
                <ul class="footer-links">
                    <li><a class="twitter" href="{{ site.mygov_twitter_url}}">{{ site.mygov_twitter_username }}</a></li>
                    <li><a class="blog" href="{{ site.mygov_site_url}}">mygov.scot</a></li>
                    <li><a class="github" href="{{ site.github_url }}">{{ site.github_username}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /end .container -->
</footer>
