<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="canonical" href="https://www.mygov.scot" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:900" />
    <![endif]-->

      <title>Registration Form - mygov.scot</title>

    <meta name="description" content="Registration form test.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/main_forms.css"  }}">
    <link rel="stylesheet" href="{{ "/assets/css/calendar.css"  }}">
    <link rel="stylesheet" href="{{ "/assets/css/form.css"  }}">

    <!--[if lt IE 9]>
      <script src="/assets/scripts/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lte IE 7]>
      <link rel="stylesheet" href="/assets/styles/ie.fec7544a.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/styles/ie8.59b04236.css">
    <![endif]-->
  </head>
