<div id="header">
    <div class="container">

        <div id="logo">
            <a class="mygovscot-logo" href="{{ site.baseurl }}">Mygov.scot</a>
            resources
        </div>

        <nav id="site-nav">
            <button id="site-nav-toggler"></button>
            <ul>
                    <li>
                        <a href="https://www.mygov.scot/">
                                Go back to mygov.scot
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
            </ul>
        </nav>

    </div>
</div>

{% if page.thispage != 'home' %}
    {% include breadcrumbs.html %}
{% endif %}
