<div id="header">
    <div class="container">

        <div id="logo">
            <a class="mygovscot-logo" href="{{ site.baseurl }}">Mygov.scot</a>
            handbook
        </div>

        <nav id="site-nav">
            <button id="site-nav-toggler"></button>
            <ul>
                {% for item in site.standard %}
                    {% if item.parent == 'home' %}
                    <li>
                        <a href="{{site.baseurl}}{{ item.url }}">
                            {{ item.title }}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% for item in site.guidelines %}
                    {% if item.parent == 'home' %}
                    <li>
                        <a href="{{site.baseurl}}{{ item.url }}">
                            {{ item.title }}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% for item in site.additional %}
                <li>
                    <a href="{{site.baseurl}}{{ item.url }}">
                        {{ item.title }}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

    </div>
</div>

{% if page.thispage != 'home' %}
    {% include breadcrumbs.html %}
{% endif %}
