@charset "UTF-8";
/* SASS Libraries
========================================================================== */
/*
 * Global SASS libraries/helpers from Compass's built in mixins to aid
 * compatibility and progressive enhancement methods.
 */
/* 1200px */
/* 992px */
/* 768px */
/* 480px */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Calculate rems. $target = pixel size. $context = base pixel size
 */
/**
 * Output vendor properties
 */
/* See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/ */
/* Default font size in pixels if not overridden. */
/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
/* Used to convert PX to EMs for multiple properties or values or both.
$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.

Examples:

@include scale(line-height, 30)
@include scale(line-height, 30, 16)
@include scale(width height, 125);
@include scale(padding, 0 25, 16);
@include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
@include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
/*
  Finds the closest dimension value that is on-grid, used to keep an element
  roughly the same size if the baseline grid changes and its size is
  dependent on the grid

  @param {px} $input - pixel size we want to round to the nearest baseline grid interval
  @param {px} $line-height - base line height

  @returns {px} length
*/
/*
  Mixins for media queries at phone, tablet, desktop, and HD sizes

  Usage example:

  h1 {
    font-size: 24px;

    @include media-tablet {
      font-size: 36px;
    }

    @include media-desktop {
      font-size: 48px;
    }
  }
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/* line 8, ../scss/utilities/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/**
 * The usual...
 */
/* line 19, ../scss/utilities/_reset.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
/* line 32, ../scss/utilities/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
}

/* line 36, ../scss/utilities/_reset.scss */
abbr[title] {
  text-decoration: none;
  border: none;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
/* line 44, ../scss/utilities/_reset.scss */
a, u, ins {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
/* line 51, ../scss/utilities/_reset.scss */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images don’t load.
 */
/* line 58, ../scss/utilities/_reset.scss */
img {
  font-style: italic;
}

/**
 * Remove borders from fieldset
 */
/* line 65, ../scss/utilities/_reset.scss */
fieldset {
  border: none;
}

/**
 * Give form elements some cursor interactions...
 */
/* line 72, ../scss/utilities/_reset.scss */
label,
input:button,
textarea,
button,
select,
option {
  cursor: pointer;
}

/* line 81, ../scss/utilities/_reset.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

/* line 89, ../scss/utilities/_reset.scss */
.text-muted {
  color: #2B2B2B;
}

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
/* line 11, ../scss/utilities/_normalize.scss */
article, #article-list li,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, ../scss/utilities/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../scss/utilities/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 50, ../scss/utilities/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../scss/utilities/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Remove default margin.
 */
/* line 74, ../scss/utilities/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../scss/utilities/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 94, ../scss/utilities/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../scss/utilities/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../scss/utilities/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 125, ../scss/utilities/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../scss/utilities/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../scss/utilities/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 152, ../scss/utilities/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 161, ../scss/utilities/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../scss/utilities/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/*
 * Set consistent quote types.
 */
/* line 181, ../scss/utilities/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../scss/utilities/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 197, ../scss/utilities/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../scss/utilities/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../scss/utilities/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../scss/utilities/_normalize.scss */
img {
  border: 0;
}

/*
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../scss/utilities/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../scss/utilities/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 253, ../scss/utilities/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../scss/utilities/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 275, ../scss/utilities/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 289, ../scss/utilities/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 301, ../scss/utilities/_normalize.scss */
button,
select {
  text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 314, ../scss/utilities/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 326, ../scss/utilities/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 336, ../scss/utilities/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 347, ../scss/utilities/_normalize.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 1 */
  box-sizing: content-box;
}

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 358, ../scss/utilities/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in Firefox 4+.
 */
/* line 367, ../scss/utilities/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 378, ../scss/utilities/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 392, ../scss/utilities/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  padding-left: 1px;
  padding-right: 1px;
}

/* line 400, ../scss/utilities/_normalize.scss */
th, td {
  border: 1px solid #000000;
  padding-left: 2px;
  padding-right: 2px;
}

/* font sizes taken from mygov web site, 5 jan 15 */
/* base (mobile) */
/* line 1, ../scss/breakpoints/_base.scss */
body {
  background: #fff;
  color: #black;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
}

/* line 9, ../scss/breakpoints/_base.scss */
a {
  color: #226eaa;
}
/* line 14, ../scss/breakpoints/_base.scss */
a:hover {
  color: #002754;
}

/* line 21, ../scss/breakpoints/_base.scss */
h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* line 27, ../scss/breakpoints/_base.scss */
h1 {
  font-size: 28px;
  line-height: 35px;
  margin: 12px 0 37px;
}

/* line 33, ../scss/breakpoints/_base.scss */
h2 {
  font-size: 21px;
  line-height: 28px;
  margin: -2px 0 16px;
}

/* line 39, ../scss/breakpoints/_base.scss */
h3 {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 7px;
  margin-top: 35px;
}

/* line 46, ../scss/breakpoints/_base.scss */
h4 {
  font-size: 15px;
  margin: 35px 0 7px;
}

/* line 51, ../scss/breakpoints/_base.scss */
p {
  margin: -3px 0 24px;
}

/* line 55, ../scss/breakpoints/_base.scss */
ol,
ul {
  margin: -3px 0 24px 21px;
}

/* line 60, ../scss/breakpoints/_base.scss */
#header {
  background: #f4f4f4;
  font-size: 21px;
  font-weight: 300;
  height: 49px;
  margin-bottom: 28px;
}
/* line 67, ../scss/breakpoints/_base.scss */
#header #logo {
  float: left;
}
/* line 70, ../scss/breakpoints/_base.scss */
#header #logo .mygovscot-logo {
  background: url(../images/mygov_logos/mygovscot_130px.png) no-repeat 0 0 transparent;
  border-right: 1px solid #000000;
  display: inline-block;
  height: 26px;
  margin: 13px 0;
  padding-right: 0.3em;
  text-indent: -999em;
  width: 140px;
}

/* line 83, ../scss/breakpoints/_base.scss */
#site-nav {
  font-size: 21px;
}
/* line 88, ../scss/breakpoints/_base.scss */
#site-nav #site-nav-toggler {
  background: url(../images/menu.png) #002754 no-repeat 0 0;
  border: 0;
  content: '';
  height: 49px;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
/* line 100, ../scss/breakpoints/_base.scss */
#site-nav #site-nav-toggler:hover {
  background-color: #226eaa;
}
/* line 105, ../scss/breakpoints/_base.scss */
#site-nav ul {
  background: #002754;
  height: 0;
  line-height: 42px;
  left: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 1em;
  position: absolute;
  right: 0;
  top: 49px;
  z-index: 100;
  -webkit-transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
  -ms-transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
  -o-transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
  transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
}
/* line 126, ../scss/breakpoints/_base.scss */
#site-nav ul li {
  position: relative;
}
/* line 129, ../scss/breakpoints/_base.scss */
#site-nav ul li a {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  display: block;
  line-height: 56px;
}
/* line 135, ../scss/breakpoints/_base.scss */
#site-nav ul li a span.glyphicon {
  background: #002754;
  border-left: 1em solid #002754;
  box-sizing: unset;
  height: 56px;
  line-height: 52px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 56px;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
/* line 150, ../scss/breakpoints/_base.scss */
#site-nav ul li a:hover {
  text-decoration: none;
}
/* line 153, ../scss/breakpoints/_base.scss */
#site-nav ul li a:hover span.glyphicon {
  background: #226eaa;
}
/* line 163, ../scss/breakpoints/_base.scss */
#site-nav.active ul {
  height: 238px;
  padding: 35px 0 35px 1em;
}

/* line 171, ../scss/breakpoints/_base.scss */
.jumbo {
  font-weight: 300;
  line-height: 21px;
  margin: -14px 0 39px;
}
/* line 176, ../scss/breakpoints/_base.scss */
.jumbo h1 {
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 14px;
}
/* line 182, ../scss/breakpoints/_base.scss */
.jumbo p {
  margin: -2px 0 2px;
}

/* line 187, ../scss/breakpoints/_base.scss */
ol.breadcrumb {
  background: transparent;
  font-size: 14px;
  margin: -3px 0 31px 0;
  padding: 0;
}
/* line 193, ../scss/breakpoints/_base.scss */
ol.breadcrumb > li + li:before {
  color: #cccccc;
}

/* line 198, ../scss/breakpoints/_base.scss */
ol.nav {
  counter-reset: li;
  font-size: 19px;
  line-height: 28px;
  margin: 0 0 42px 0;
}
/* line 204, ../scss/breakpoints/_base.scss */
ol.nav li {
  margin-bottom: 14px;
}
/* line 207, ../scss/breakpoints/_base.scss */
ol.nav li a {
  color: #002754;
  padding: 0 0 0 42px;
  position: relative;
}
/* line 212, ../scss/breakpoints/_base.scss */
ol.nav li a:hover {
  background: transparent;
}
/* line 216, ../scss/breakpoints/_base.scss */
ol.nav li a:active:before {
  background: #002754;
}
/* line 220, ../scss/breakpoints/_base.scss */
ol.nav li a:before {
  background: #333333;
  border-radius: 50px;
  color: #ffffff;
  content: counter(li);
  counter-increment: li;
  height: 28px;
  left: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  width: 28px;
}
/* line 234, ../scss/breakpoints/_base.scss */
ol.nav li a:hover:before {
  background: #002754;
}
/* line 239, ../scss/breakpoints/_base.scss */
ol.nav li:last-child {
  margin-bottom: 28px;
}
/* line 244, ../scss/breakpoints/_base.scss */
ol.nav:after {
  background: #333333;
  content: '';
  height: 7px;
  width: 67%;
}

/* line 254, ../scss/breakpoints/_base.scss */
.standard ol.nav li a:before {
  background: #226eaa;
}
/* line 259, ../scss/breakpoints/_base.scss */
.standard ol.nav:after {
  background: #226eaa;
}

/* line 266, ../scss/breakpoints/_base.scss */
.guidelines ol.nav li a:before {
  background: #a9b259;
}
/* line 271, ../scss/breakpoints/_base.scss */
.guidelines ol.nav:after {
  background: #a9b259;
}

/* line 276, ../scss/breakpoints/_base.scss */
#in-page-nav {
  list-style-type: none;
  margin: 0 0 59px;
  padding-top: 25px;
}
/* line 283, ../scss/breakpoints/_base.scss */
#in-page-nav:before {
  background: #333333;
  content: '';
  display: block;
  height: 7px;
  position: absolute;
  top: 0;
  width: 33%;
}
/* line 293, ../scss/breakpoints/_base.scss */
#in-page-nav li {
  padding: 14px 0 7px;
  position: relative;
}
/* line 297, ../scss/breakpoints/_base.scss */
#in-page-nav li:after {
  background: #333333;
  bottom: -3px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
}
/* line 308, ../scss/breakpoints/_base.scss */
#in-page-nav li a {
  color: #333333;
  display: block;
  margin-right: 10%;
  position: relative;
}
/* line 315, ../scss/breakpoints/_base.scss */
#in-page-nav li a .glyphicon {
  color: #ebebeb;
  position: absolute;
  right: 0;
  top: 3px;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
/* line 324, ../scss/breakpoints/_base.scss */
#in-page-nav li a:hover {
  text-decoration: none;
}
/* line 327, ../scss/breakpoints/_base.scss */
#in-page-nav li a:hover .glyphicon {
  color: #333333;
}

/* line 336, ../scss/breakpoints/_base.scss */
.guidelines #in-page-nav:before {
  background-color: #a9b259;
}
/* line 341, ../scss/breakpoints/_base.scss */
.guidelines #in-page-nav li:after {
  background-color: #a9b259;
}

/* line 348, ../scss/breakpoints/_base.scss */
.standard #in-page-nav:before {
  background-color: #226eaa;
}
/* line 353, ../scss/breakpoints/_base.scss */
.standard #in-page-nav li:after {
  background-color: #226eaa;
}

/* line 359, ../scss/breakpoints/_base.scss */
.summary-block {
  color: #333333;
  font-weight: 300;
}
/* line 363, ../scss/breakpoints/_base.scss */
.summary-block.fancy {
  background: url(../images/grid_repeat.png) repeat 0 1px #fcfcfc;
  margin-bottom: 14px;
}
/* line 369, ../scss/breakpoints/_base.scss */
.summary-block .summary-title {
  border: 0;
  line-height: 28px;
  margin: 0 0 28px;
  padding-top: 7px;
}
/* line 376, ../scss/breakpoints/_base.scss */
.summary-block a.button {
  color: #fff;
  display: table;
  line-height: 56px;
  margin: 0 56px 21px 0;
  width: 100%;
}
/* line 385, ../scss/breakpoints/_base.scss */
.summary-block a.button:hover {
  text-decoration: none;
}
/* line 388, ../scss/breakpoints/_base.scss */
.summary-block a.button:hover .glyphicon {
  background: #226eaa;
}
/* line 393, ../scss/breakpoints/_base.scss */
.summary-block a.button span {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
/* line 400, ../scss/breakpoints/_base.scss */
.summary-block a.button span.button-text {
  background: #226eaa;
}
/* line 404, ../scss/breakpoints/_base.scss */
.summary-block a.button span.glyphicon {
  background: rgba(0, 0, 0, 0.1);
  height: 56px;
  line-height: 56px;
  top: 0;
  width: 56px;
}
/* line 415, ../scss/breakpoints/_base.scss */
.summary-block.guidelines .summary-title {
  border-color: #a9b259;
}
/* line 421, ../scss/breakpoints/_base.scss */
.summary-block.guidelines a.button span.button-text {
  background: #a9b259;
}
/* line 425, ../scss/breakpoints/_base.scss */
.summary-block.guidelines a.button:hover .glyphicon {
  background: #a9b259;
}
/* line 431, ../scss/breakpoints/_base.scss */
.summary-block.article-header {
  margin-bottom: 42px;
}
/* line 434, ../scss/breakpoints/_base.scss */
.summary-block.article-header .summary-title {
  border-top: 7px solid #333333;
  display: inline-block;
}
/* line 440, ../scss/breakpoints/_base.scss */
.summary-block p:last-child {
  margin-bottom: 38px;
}

/* line 447, ../scss/breakpoints/_base.scss */
.standard .summary-block .inner,
.guidelines .summary-block .inner {
  background: url(../images/standard_icon_small.png) no-repeat center 28px;
  padding-top: 238px;
}
/* line 452, ../scss/breakpoints/_base.scss */
.standard.home .summary-block .inner,
.guidelines.home .summary-block .inner {
  background: url(../images/standard_icon_small.png) no-repeat 0 0;
  padding-left: 160px;
  margin-left: -10px;
}
/* line 458, ../scss/breakpoints/_base.scss */
.standard.home .summary-block.guidelines .inner,
.guidelines.home .summary-block.guidelines .inner {
  background-image: url(../images/guidelines_icon_small.png);
}

/* line 465, ../scss/breakpoints/_base.scss */
.home .summary-block .summary-title {
  border-bottom: 7px solid #333333;
  display: inline-block;
  margin-bottom: 17px;
  padding-top: 11px;
}
/* line 474, ../scss/breakpoints/_base.scss */
.home .summary-block .inner {
  background: url() no-repeat -25px 0;
  background-size: 170px;
  padding-left: 135px;
  margin-left: -10px;
}
/* line 481, ../scss/breakpoints/_base.scss */
.home .summary-block.standard {
  color: #002754;
}
/* line 484, ../scss/breakpoints/_base.scss */
.home .summary-block.standard .summary-title {
  border-color: #226eaa;
}
/* line 488, ../scss/breakpoints/_base.scss */
.home .summary-block.standard .inner {
  background-image: url(../images/standard_icon_small.png);
}
/* line 494, ../scss/breakpoints/_base.scss */
.home .summary-block.guidelines .summary-title {
  border-color: #a9b259;
}
/* line 498, ../scss/breakpoints/_base.scss */
.home .summary-block.guidelines .inner {
  background-image: url(../images/guidelines_icon_small.png);
}
/* line 503, ../scss/breakpoints/_base.scss */
.home .summary-block p {
  font-size: 15px;
}

/* line 511, ../scss/breakpoints/_base.scss */
.guidelines .summary-block .inner {
  background-image: url(../images/guidelines_icon_small.png);
}

/* line 516, ../scss/breakpoints/_base.scss */
.standard .summary-block {
  color: #002754;
}
/* line 520, ../scss/breakpoints/_base.scss */
.standard .summary-block.article-header .summary-title {
  border-color: #226eaa;
}

/* line 527, ../scss/breakpoints/_base.scss */
.guidelines .summary-block.article-header .summary-title {
  border-color: #a9b259;
}

/* line 532, ../scss/breakpoints/_base.scss */
#article-list {
  margin-left: 0;
  margin-top: 0;
}
/* line 536, ../scss/breakpoints/_base.scss */
#article-list article, #article-list li {
  color: #333333;
  font-weight: 300;
  margin-bottom: 42px;
}
/* line 541, ../scss/breakpoints/_base.scss */
#article-list article h2, #article-list li h2 {
  margin: 0 0 14px;
}
/* line 545, ../scss/breakpoints/_base.scss */
#article-list article p, #article-list li p {
  margin: 0 0 21px;
  position: relative;
  top: 3px;
}
/* line 551, ../scss/breakpoints/_base.scss */
#article-list article a.fancy-link, #article-list li a.fancy-link, #article-list article a.button, #article-list li a.button {
  display: block;
  line-height: 41px;
  position: relative;
}
/* line 558, ../scss/breakpoints/_base.scss */
#article-list article a.fancy-link .link-text, #article-list li a.fancy-link .link-text, #article-list article a.button .link-text, #article-list li a.button .link-text {
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  display: block;
  -webkit-transition: border-color 0.1s ease-in-out;
  -moz-transition: border-color 0.1s ease-in-out;
  -ms-transition: border-color 0.1s ease-in-out;
  -o-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out;
}
/* line 566, ../scss/breakpoints/_base.scss */
#article-list article a.fancy-link .glyphicon, #article-list li a.fancy-link .glyphicon, #article-list article a.button .glyphicon, #article-list li a.button .glyphicon {
  background: #ebebeb;
  border-left: 4px solid white;
  bottom: 0;
  color: white;
  min-height: 42px;
  line-height: 42px;
  position: absolute;
  right: 0;
  text-align: center;
  top: auto;
  width: 42px;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
/* line 582, ../scss/breakpoints/_base.scss */
#article-list article a.fancy-link:hover, #article-list li a.fancy-link:hover, #article-list article a.button:hover, #article-list li a.button:hover {
  text-decoration: none;
}
/* line 585, ../scss/breakpoints/_base.scss */
#article-list article a.fancy-link:hover .link-text, #article-list li a.fancy-link:hover .link-text, #article-list article a.button:hover .link-text, #article-list li a.button:hover .link-text {
  border-color: #333333;
}
/* line 589, ../scss/breakpoints/_base.scss */
#article-list article a.fancy-link:hover .glyphicon, #article-list li a.fancy-link:hover .glyphicon, #article-list article a.button:hover .glyphicon, #article-list li a.button:hover .glyphicon {
  background-color: #333333;
}
/* line 595, ../scss/breakpoints/_base.scss */
#article-list article a.button, #article-list li a.button {
  font-weight: 400;
}
/* line 602, ../scss/breakpoints/_base.scss */
#article-list article a.button .link-text, #article-list li a.button .link-text {
  border-top: 1px solid #ebebeb;
  line-height: 40px;
  padding-left: 20px;
}
/* line 608, ../scss/breakpoints/_base.scss */
#article-list article a.button .glyphicon, #article-list li a.button .glyphicon {
  top: 0;
}
/* line 614, ../scss/breakpoints/_base.scss */
#article-list li {
  font-weight: 700;
  margin-bottom: 7px;
}
/* line 620, ../scss/breakpoints/_base.scss */
#article-list li .link-text {
  padding-left: 10px;
}

/* line 630, ../scss/breakpoints/_base.scss */
.guidelines #article-list article a.fancy-link .link-text, .guidelines #article-list li a.fancy-link .link-text, .guidelines #article-list article a.button .link-text, .guidelines #article-list li a.button .link-text,
.guidelines #article-list li a.fancy-link .link-text,
.guidelines #article-list li a.button .link-text {
  border-color: #a9b259;
}
/* line 634, ../scss/breakpoints/_base.scss */
.guidelines #article-list article a.fancy-link .glyphicon, .guidelines #article-list li a.fancy-link .glyphicon, .guidelines #article-list article a.button .glyphicon, .guidelines #article-list li a.button .glyphicon,
.guidelines #article-list li a.fancy-link .glyphicon,
.guidelines #article-list li a.button .glyphicon {
  background-color: #a9b259;
}
/* line 639, ../scss/breakpoints/_base.scss */
.guidelines #article-list article a.fancy-link:hover .link-text, .guidelines #article-list li a.fancy-link:hover .link-text, .guidelines #article-list article a.button:hover .link-text, .guidelines #article-list li a.button:hover .link-text,
.guidelines #article-list li a.fancy-link:hover .link-text,
.guidelines #article-list li a.button:hover .link-text {
  border-color: #000000;
}
/* line 643, ../scss/breakpoints/_base.scss */
.guidelines #article-list article a.fancy-link:hover .glyphicon, .guidelines #article-list li a.fancy-link:hover .glyphicon, .guidelines #article-list article a.button:hover .glyphicon, .guidelines #article-list li a.button:hover .glyphicon,
.guidelines #article-list li a.fancy-link:hover .glyphicon,
.guidelines #article-list li a.button:hover .glyphicon {
  background: #000000;
}

/* line 651, ../scss/breakpoints/_base.scss */
.standard #article-list article, .standard #article-list li {
  color: #002754;
}

/* line 655, ../scss/breakpoints/_base.scss */
#additional {
  margin-bottom: 28px;
}
/* line 658, ../scss/breakpoints/_base.scss */
#additional article, #additional #article-list li, #article-list #additional li {
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}
/* line 663, ../scss/breakpoints/_base.scss */
#additional h2 {
  line-height: 35px;
  margin: 1px 0 6px;
}

/* line 672, ../scss/breakpoints/_base.scss */
.article h2 {
  border-top: 7px solid #226eaa;
  display: inline-block;
  margin-top: 33px;
  padding-top: 12px;
}
/* line 678, ../scss/breakpoints/_base.scss */
.article h2:first-child {
  margin-top: -2px;
}
/* line 683, ../scss/breakpoints/_base.scss */
.article .introduction {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 28px;
}

/* line 691, ../scss/breakpoints/_base.scss */
.standard.article h2 {
  border-color: #226eaa;
}

/* line 697, ../scss/breakpoints/_base.scss */
.guidelines.article h2 {
  border-color: #a9b259;
}

/* line 702, ../scss/breakpoints/_base.scss */
figure.example {
  margin-top: 28px;
  margin-bottom: 77px;
}
/* line 708, ../scss/breakpoints/_base.scss */
figure.example:before {
  content: "EXAMPLE";
  background-color: white;
  color: #666;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px;
  display: inline-block;
  z-index: 40;
  position: relative;
  font-size: 16px;
  padding: 5px 15px;
}
/* line 728, ../scss/breakpoints/_base.scss */
figure.example iframe, figure.example img {
  border: 1px solid #ddd;
}
/* line 732, ../scss/breakpoints/_base.scss */
figure.example iframe {
  width: 100%;
  overflow: hidden;
}
/* line 738, ../scss/breakpoints/_base.scss */
figure.example img {
  display: none;
}
/* line 742, ../scss/breakpoints/_base.scss */
figure.example figcaption {
  color: #727272;
  font-size: 17px;
  text-align: left;
}

/* line 749, ../scss/breakpoints/_base.scss */
pre {
  margin-bottom: 24px;
  padding: 10px;
}

/* line 756, ../scss/breakpoints/_base.scss */
footer {
  background: #fcfcfc;
  border-top: 2px solid #ebebeb;
  font-size: 12px;
  line-height: 14px;
  padding: 21px 0 35px;
}
/* line 763, ../scss/breakpoints/_base.scss */
footer a {
  text-decoration: underline;
}
/* line 767, ../scss/breakpoints/_base.scss */
footer h3 {
  font-size: 12px;
  line-height: 21px;
  margin: -4px 0 8px;
}
/* line 773, ../scss/breakpoints/_base.scss */
footer .footer-links {
  list-style: none;
  margin-left: 0;
}
/* line 777, ../scss/breakpoints/_base.scss */
footer .footer-links li {
  margin-bottom: 7px;
}
/* line 780, ../scss/breakpoints/_base.scss */
footer .footer-links li a {
  background: transparent url() no-repeat 0 center;
  color: #000000;
  padding-left: 30px;
}
/* line 785, ../scss/breakpoints/_base.scss */
footer .footer-links li a.email {
  background-image: url(../images/footer_icons/envelope_mobile_standard_14.png);
}
/* line 789, ../scss/breakpoints/_base.scss */
footer .footer-links li a.blog {
  background-image: url(../images/footer_icons/speech_mobile_standard_14.png);
}
/* line 793, ../scss/breakpoints/_base.scss */
footer .footer-links li a.twitter {
  background-image: url(../images/footer_icons/twit_mobile_standard_14.png);
}
/* line 797, ../scss/breakpoints/_base.scss */
footer .footer-links li a.github {
  background-image: url(../images/footer_icons/code_mobile_standard_14.png);
}
/* line 804, ../scss/breakpoints/_base.scss */
footer .scotgov-logo {
  background: url(../images/scotgov_logos/sg_logo_mobile_standard_64.png) no-repeat 0 0 transparent;
  display: block;
  height: 69px;
  text-indent: -999em;
  width: 64px;
}
/* line 812, ../scss/breakpoints/_base.scss */
footer .footer-logo {
  float: right;
  padding-left: 2em;
}

/* line 818, ../scss/breakpoints/_base.scss */
.lead, .has-leaders h2 + p {
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
}

@media only screen and (min-width: 768px) {
  /* line 1, ../scss/breakpoints/_tablet.scss */
  body {
    font-size: 21px;
    line-height: 28px;
  }

  /* line 6, ../scss/breakpoints/_tablet.scss */
  h1 {
    font-size: 49px;
    line-height: 56px;
  }

  /* line 11, ../scss/breakpoints/_tablet.scss */
  h2 {
    font-size: 26px;
  }

  /* line 15, ../scss/breakpoints/_tablet.scss */
  h3 {
    font-size: 22px;
    margin-top: 42px;
  }

  /* line 20, ../scss/breakpoints/_tablet.scss */
  h4 {
    font-size: 18px;
  }

  /* line 25, ../scss/breakpoints/_tablet.scss */
  #site-nav #site-nav-toggler {
    display: none;
  }
  /* line 29, ../scss/breakpoints/_tablet.scss */
  #site-nav ul {
    background: transparent;
    float: right;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    position: static;
  }
  /* line 37, ../scss/breakpoints/_tablet.scss */
  #site-nav ul li {
    display: inline-block;
    margin-left: 30px;
  }
  /* line 41, ../scss/breakpoints/_tablet.scss */
  #site-nav ul li a {
    color: #002754;
    display: inline;
    line-height: 49px;
  }
  /* line 46, ../scss/breakpoints/_tablet.scss */
  #site-nav ul li a span.glyphicon {
    display: none;
  }
  /* line 50, ../scss/breakpoints/_tablet.scss */
  #site-nav ul li a.current {
    color: #226eaa;
  }
  /* line 54, ../scss/breakpoints/_tablet.scss */
  #site-nav ul li a:before {
    background-color: transparent;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 0;
    content: '';
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
  }
  /* line 65, ../scss/breakpoints/_tablet.scss */
  #site-nav ul li a:hover:before {
    background-color: #002754;
  }

  /* line 74, ../scss/breakpoints/_tablet.scss */
  ol.breadcrumb {
    font-size: 19px;
  }

  /* line 78, ../scss/breakpoints/_tablet.scss */
  .jumbo {
    margin-bottom: 31px;
    line-height: 28px;
    padding-top: 14px;
  }
  /* line 84, ../scss/breakpoints/_tablet.scss */
  .jumbo h1 {
    line-height: 56px;
    margin: 1px 0 20px;
  }
  /* line 90, ../scss/breakpoints/_tablet.scss */
  .jumbo p {
    margin: -3px 0 24px;
  }

  /* line 96, ../scss/breakpoints/_tablet.scss */
  .summary-block {
    margin-bottom: 42px;
  }
  /* line 99, ../scss/breakpoints/_tablet.scss */
  .summary-block.fancy {
    padding-top: 42px;
    margin-bottom: 35px;
  }
  /* line 104, ../scss/breakpoints/_tablet.scss */
  .summary-block h1.summary-title {
    line-height: 56px;
  }
  /* line 108, ../scss/breakpoints/_tablet.scss */
  .summary-block a.button {
    line-height: 63px;
    width: 400px;
  }
  /* line 114, ../scss/breakpoints/_tablet.scss */
  .summary-block a.button span.glyphicon {
    display: inline-block;
    height: 63px;
    left: 4px;
    line-height: 63px;
    position: relative;
    width: 63px;
  }

  /* line 127, ../scss/breakpoints/_tablet.scss */
  .standard .summary-block .inner,
  .guidelines .summary-block .inner {
    background-position: -42px 0;
    min-height: 210px;
    padding: 0 0 0 33%;
  }

  /* line 137, ../scss/breakpoints/_tablet.scss */
  .home .summary-block .inner {
    background-position: -74px 0;
    background-size: auto;
    min-height: 406px;
    padding-left: 310px;
  }
  /* line 144, ../scss/breakpoints/_tablet.scss */
  .home .summary-block.standard .inner {
    background-image: url(../images/standard_icon_medium.png);
  }
  /* line 148, ../scss/breakpoints/_tablet.scss */
  .home .summary-block.guidelines .inner {
    background-image: url(../images/guidelines_icon_medium.png);
  }
  /* line 152, ../scss/breakpoints/_tablet.scss */
  .home .summary-block p {
    font-size: inherit;
  }

  /* line 159, ../scss/breakpoints/_tablet.scss */
  .article .introduction {
    line-height: 35px;
  }

  /* line 166, ../scss/breakpoints/_tablet.scss */
  #article-list .article h2 {
    padding-top: 7px;
  }

  /* line 172, ../scss/breakpoints/_tablet.scss */
  footer {
    font-size: 18px;
    line-height: 28px;
    padding-top: 42px;
  }
  /* line 177, ../scss/breakpoints/_tablet.scss */
  footer h3 {
    font-size: 22px;
    margin: -1px 0 23px;
  }
  /* line 182, ../scss/breakpoints/_tablet.scss */
  footer .footer-links {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  /* line 187, ../scss/breakpoints/_tablet.scss */
  footer .footer-links li a {
    padding-left: 45px;
  }
  /* line 190, ../scss/breakpoints/_tablet.scss */
  footer .footer-links li a.email {
    background-image: url(../images/footer_icons/envelope_desktop_standard_28.png);
  }
  /* line 194, ../scss/breakpoints/_tablet.scss */
  footer .footer-links li a.blog {
    background-image: url(../images/footer_icons/speech_desktop_standard_28.png);
  }
  /* line 198, ../scss/breakpoints/_tablet.scss */
  footer .footer-links li a.twitter {
    background-image: url(../images/footer_icons/twit_desktop_standard_28.png);
  }
  /* line 202, ../scss/breakpoints/_tablet.scss */
  footer .footer-links li a.github {
    background-image: url(../images/footer_icons/code_desktop_standard_28.png);
  }
  /* line 208, ../scss/breakpoints/_tablet.scss */
  footer .scotgov-logo {
    background-image: url(../images/scotgov_logos/sg_logo_desktop_standard_110.png);
    height: 117px;
    width: 110px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../scss/breakpoints/_desktop.scss */
  body {
    font-size: 19px;
    line-height: 28px;
  }

  /* line 6, ../scss/breakpoints/_desktop.scss */
  h1 {
    font-size: 49px;
    line-height: 56px;
  }

  /* line 11, ../scss/breakpoints/_desktop.scss */
  h2 {
    font-size: 26px;
  }

  /* line 15, ../scss/breakpoints/_desktop.scss */
  h3 {
    font-size: 22px;
  }

  /* line 19, ../scss/breakpoints/_desktop.scss */
  h4 {
    font-size: 18px;
  }

  /* line 23, ../scss/breakpoints/_desktop.scss */
  ol.breadcrumb {
    font-size: 18px;
  }

  /* line 27, ../scss/breakpoints/_desktop.scss */
  #header {
    font-size: 1.5em;
    font-weight: 300;
    height: 77px;
  }
  /* line 33, ../scss/breakpoints/_desktop.scss */
  #header #logo .mygovscot-logo {
    background-image: url(../images/mygov_logos/mygovscot_195px.png);
    height: 42px;
    margin: 17px 0;
    width: 205px;
  }

  /* line 42, ../scss/breakpoints/_desktop.scss */
  #site-nav ul {
    font-size: 19px;
  }
  /* line 45, ../scss/breakpoints/_desktop.scss */
  #site-nav ul li a {
    line-height: 77px;
  }

  /* line 52, ../scss/breakpoints/_desktop.scss */
  .standard .summary-block .inner,
  .guidelines .summary-block .inner {
    background-image: url(../images/standard_icon_medium.png);
    background-position: -84px 0;
    min-height: 392px;
  }

  /* line 60, ../scss/breakpoints/_desktop.scss */
  .guidelines .summary-block .inner {
    background-image: url(../images/guidelines_icon_medium.png);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 2, ../scss/breakpoints/_2x.scss */
  #header .mygovscot-logo {
    background-image: url(../images/mygov_logos/mygovscot_130px_@2x.png);
    background-size: 110px;
  }

  /* line 9, ../scss/breakpoints/_2x.scss */
  footer .footer-links li a {
    background-size: 14px;
  }
  /* line 12, ../scss/breakpoints/_2x.scss */
  footer .footer-links li a.email {
    background-image: url(../images/footer_icons/envelope_desktop_standard_28.png);
  }
  /* line 16, ../scss/breakpoints/_2x.scss */
  footer .footer-links li a.blog {
    background-image: url(../images/footer_icons/speech_desktop_standard_28.png);
  }
  /* line 20, ../scss/breakpoints/_2x.scss */
  footer .footer-links li a.twitter {
    background-image: url(../images/footer_icons/twit_desktop_standard_28.png);
  }
  /* line 24, ../scss/breakpoints/_2x.scss */
  footer .footer-links li a.github {
    background-image: url(../images/footer_icons/code_desktop_standard_28.png);
  }

  /* line 31, ../scss/breakpoints/_2x.scss */
  footer .scotgov-logo {
    background-image: url(../images/scotgov_logos/sg_logo_mobile_hi_128.png);
    background-size: 64px;
  }

  /* line 37, ../scss/breakpoints/_2x.scss */
  .home .summary-block.guidelines .inner,
  .guidelines .summary-block .inner {
    background-image: url(../images/guidelines_icon_medium.png);
  }

  /* line 43, ../scss/breakpoints/_2x.scss */
  .home .summary-block.standard .inner,
  .standard .summary-block .inner {
    background-image: url(../images/standard_icon_medium.png);
  }

  /* line 48, ../scss/breakpoints/_2x.scss */
  .guidelines .summary-block .inner,
  .standard .summary-block .inner {
    background-size: 203px;
  }
}
