/*------------------------------------*\
    #LEADER TEXT
    Oversized text for leader paragraphs or sections
\*------------------------------------*/

$base-leader-size: 19px;
$medium-leader-size: 22px;
$base-h2-size: 21px;
$medium-h2-size: 26px;
$semibold: 500;




%leader-text {
  color: $grey-dark;
  font-size: $base-leader-size;
  line-height: 28px;
  font-weight: 300;
  margin: 0 0 28px 0;
}

.leader {
  @extend %leader-text;

  &--first-para {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: inherit;

    > :first-child {
      @extend %leader-text;
    }

    h2:first-child {
      font-size: $base-h2-size;
      line-height: 28px;
      margin: 49px 0 14px 0;
      font-weight: 500;
    }
  }
}

.has-leaders {
    h2 + p {
        @extend %leader-text;
    }
}

@media only screen and (min-width: $screen-sm) {
  %medium-leader-text {
    font-size: $medium-leader-size;
    line-height: 35px;
    font-weight: 300;
    margin: 0 0 35px 0;
  }

  .leader {
    @extend %medium-leader-text;

    &--first-para {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin: inherit;

      > :first-child {
        @extend %medium-leader-text;
      }

      h2:first-child {
        font-size: $medium-h2-size;
        line-height: 35px;
        margin: 56px 0 14px 0;
        font-weight: $semibold;
      }
    }
  }

  .has-leaders {
      h2 + p {
          @extend %medium-leader-text;
      }
  }
}
